/* Reset y estilos generales */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #f8f8f8;
}

/*Estilos del Header */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('homepageBG.png') no-repeat center ;
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

/* Logo en la esquina superior izquierda */
.logo {
    width: 50px;
    height: auto;
}

/* Menú */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}


/* Menú Ajustado */
.menu {
    display: flex;
    gap: 40px;
    padding-left: 40px; /* Espacio después de la línea divisora */
}
.linea-divisora {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px; /* Afecta el tamaño del logo */
    width: 1px;
    background-color: white;
}

.menu a, .idiomas a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: normal;
}

/* Menú de idiomas en la esquina superior derecha */
.idiomas {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

/* Posicionamiento del título */
.titulo-container {
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
}

.Las-mejores-raquetas {
    font-size: 49px;
    color: white;
    font-weight: normal;
    max-width: 700px;
}

.text-style-1 {
    font-weight: bold;
    color: yellow;
}

/* Estilo del botón */
.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 26.5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

/* Responsividad */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .titulo-container {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
